@mixin flex($dir, $vertial, $horizontal, $wrap, $gap:none) {
	display: flex;
	@if $dir		!= none {flex-direction: $dir;}
	@if $vertial	!= none {justify-content: $vertial;}
	@if $horizontal	!= none {align-items: $horizontal;}
	@if $wrap		!= none {flex-wrap: $wrap;}
	@if $gap		!= none {gap: $gap;}
}

// $breakpoints

@mixin row-between {
	@include flex(row, space-between, none, wrap, )
}

@mixin row-between-center {
	@include flex(none, space-between, center, wrap, );
}

@mixin row-between-end {
	@include flex(none, space-between, flex-end, wrap, )
}

@mixin row-end-center {
	@include flex(none, flex-end, center, none, )
}

@mixin row-vcenter {
	@include flex(none, flex-start, center, wrap, )
}

@mixin row {
	display: flex;
	flex-wrap: wrap;
	margin-left: -$space-2;
	margin-right: -$space-2;
}

@mixin col {
	padding-left: $space-2;
	padding-right: $space-2;
}

@each $pKey, $pValue in $breakpoints {
	@each $wKey, $wValue in $width {
		.col-#{$pKey}-#{$wKey} {
			// @media (min-width: $pValue) {
			// 	width: $wValue;
			// 	@include col;
			// }
			@include media($pKey) {
				width: $wValue;
				@include col;
			}
		}
	}
}

.row {
	@include row;
}

.row-between {
	@include row-between;
}

@each $key, $value in $spaces {
	.mr-#{$key} {
		margin-right: $value;
	}
}

.fill {
	flex: 1;
}

.mr {
	margin-right: $space-2;
}