.root {
    background-color: var(--bg);
    font-size: $font-size-0;
}

@mixin container {
    max-width: $container-width;
    padding-right: $space-4;
    padding-left: $space-4;
    margin: auto;
}

@mixin subcontainer {
    max-width: $subcontainer-width;
    padding-right: $space-4;
    padding-left: $space-4;
    margin: auto;
}

@mixin full-screen {
    min-height: 100vh;
}

.container {
    @include container;
}

.subcontainer {
    @include subcontainer;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    line-height: 1.25em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    margin: 0;
}

h1 {
    font-size: $font-size-1;
}

h2 {
    font-size: $font-size-2;
}

h3 {
    font-size: $font-size-3;
}

p, span {
    font-family: $font2;
    margin-top: 0;
    margin-bottom: $space-2;
}

img {
    width: 100%;
    max-height: 100%;
}

// initialize static

html {
    scroll-behavior: smooth;
}

html, body {
    font-family: $font;
    font-size: 1em;
    line-height: 1.325em;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

* {
    color: var(--color);
    box-sizing: border-box;
}

div, main, section, header, menu, footer {
    padding: 0;
    margin: 0;
}


ul, ol {
    display: block;
    margin: 0;
    padding: 0;
}

a, button, input {
    font-size: 0.9em;
    letter-spacing: -0.09em;
    text-decoration: none;
}

section {
    padding-top: $space-6;
    margin-bottom: $space-8;
}