@each $key, $value in $font-sizes {
    .text-#{$key} {
        font-size: $value;
    }
}

.text-capit {
    text-transform: capitalize;
}

.text-upper {
    text-transform: uppercase;
}

.text-lower {
    text-transform: lowercase;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}