@font-face {
	font-family: SF-Pro-Display;
	src: url(../../assets/font/SF-Pro-Display-Regular.otf);
}

$breakpoints: (
	xs:				0,
	sm:				576px,
	md:				768px,
	lg:				992px,
	xl:				1200px,
	xxl:			1400px
);

$container-width:	1300px;
$subcontainer-width:1100px;
$header-height:		100px;

$font:				SF-Pro-Display;

$font-size-0:		20px;
$font-size-1:		5em;
$font-size-2:		3.14em;
$font-size-3:		2em;

$font-sizes:		(
	0:					$font-size-0,
	1:					$font-size-1,
	2:					$font-size-2,
	3:					$font-size-3
);

$space-0:			0em;
$space-1:			0.5em;
$space-2:			1em;
$space-3:			2em;
$space-4:			3em;
$space-5:			5em;

$spaces:			(
	0:					$space-0,
	1:					$space-1,
	2:					$space-2,
	3:					$space-3,
	4:					$space-4,
	5:					$space-5
);

$white:             #FFFFFF;
$black:             #000000;

$bg:                #e6f4fe;
$box:				#d3ecfe;
$color:             #436f98;

$bg-dark:           #011d4a;
$color-dark:        #eef2f8;

:root {
	--bg:               $bg;
	--color:            $color;

	--bg-dark:          $bg-dark;
	--color-dark:       $color-dark;
}

.dark {
	--bg:               var(--bg-dark);
	--color:            var(--color-dark);
}
